
.list-group-item {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 30px;
    padding: 20px;
    border: 5px solid rgb(240, 44, 214);
}

#dev-title {
    font-family: "Times New Roman", Times, serif;
}

