.container-fluid{
    background-image: url("https://avatars.mds.yandex.net/get-pdb/480866/5655e045-c8da-46cf-a21e-625a0a5a0f29/orig");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(7, 106, 128, 0.947);
    height: 780px;
    color: white;
}