body {
  background-color: black;
}


#phaser-game {
  text-align: center;
  border: 3px solid #ffa500;
  margin: 0;
}

#hereButtn{
  font-size: 23px;
}

#hereButtn:hover{
  background-color: #FF00CC;
  
}



th {
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 40px;
}
td {
  font-size: 30px;
}

@font-face{
  font-family: 'TestingF';
  src: url("/assets/fonts/ARCADECLASSIC.TTF");
}

#loginText, #signText {
  font-family: 'TestingF';
  
}

#hereButtn, #regButtn {
  font-family: 'TestingF';
}

th, td{
  font-family: 'TestingF';
  font-size: 40px;
}

#otherText{
  font-family: 'TestingF';
  font-size: 25px;
}

a:hover{
  color: #FF00CC;
  text-decoration: none;

}

input{
  font-family: 'TestingF';
}
