body{
  background-color: #000000;
}
#loginContain{
  background-image: url("/assets/login/control.jpg");
  background-repeat: repeat;
}


#phaser-game {
  text-align: center;
  border: 3px solid #ffa500;
  margin: 0;
}

#hereButtn{
  font-size: 23px;
}

#hereButtn:hover{
  background-color: #FF00CC;
  
}



th {
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 40px;
}
td {
  font-size: 30px;
}

@font-face{
  font-family: 'TestingF';
  src: url("/assets/fonts/ARCADECLASSIC.TTF");
}

#loginText, #signText {
  font-family: 'TestingF';
  
}

#hereButtn, #regButtn {
  font-family: 'TestingF';
}

th, td{
  font-family: 'TestingF';
  font-size: 40px;
}

#otherText{
  font-family: 'TestingF';
  font-size: 25px;
}

a:hover{
  color: #FF00CC;
  text-decoration: none;

}

input{
  font-family: 'TestingF';
}

/* ------- SCOREBOARD BUTTONS------- */

/* red button  */
[class*="push"] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 0;
  margin: 1em;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

.push--flat {
  box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
}
.push--flat:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 192px;
  height: 192px;
  border: 16px solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 16px;
  border-radius: 50%;
  transition-duration: 200ms;
}
.push--flat:active, .push--flat.is-pushed {
  box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #b8270a;
}
.push--flat:active:after, .push--flat.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}

/* blue button */
[class*="push"] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 0;
  margin: 1em;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

#blueArcade {
  box-shadow: inset 0 7.5px 0 blue, inset 0 -7.5px 0 blue, inset 0 0 0 7.5px blue, inset 0 0 0 20px blue, inset 0 0 0 24px #0a0561, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(110, 131, 247, 0.7), inset 0 0 0 43.6363636364px #0a44c2, inset 0 96px 32px #092faa, inset 0 0 24px 40px #080d91, 0 12px 0 rgba(0, 0, 0, 0.3);
}
#blueArcade:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 192px;
  height: 192px;
  border: 16px solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 16px;
  border-radius: 50%;
  transition-duration: 200ms;
}
#blueArcade:active, #blueArcade.is-pushed {
  box-shadow: inset 0 7.5px 0 #0b12da, inset 0 -7.5px 0 #092faa, inset 0 0 0 7.5px #092bb3, inset 0 0 0 20px #0a2fc2, inset 0 0 0 24px #051761, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(110, 160, 247, 0.2), inset 0 0 0 43.6363636364px #0922b3, inset 0 96px 32px #08329b, inset 0 0 24px 40px #062779, 0 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #0a33b8;
}
#blueArcade:active:after, #blueArcade.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}

/* green button */
[class*="push"] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 0;
  margin: 1em;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

#greenArcade {
  box-shadow: inset 0 7.5px 0 rgb(1, 145, 1), inset 0 -7.5px 0 rgb(85, 255, 0), inset 0 0 0 7.5px rgb(21, 255, 0), inset 0 0 0 20px green, inset 0 0 0 24px #05610b, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(110, 247, 115, 0.7), inset 0 0 0 43.6363636364px #0ac235, inset 0 96px 32px #09aa29, inset 0 0 24px 40px #08913a, 0 12px 0 rgba(0, 0, 0, 0.3);
}
#greenArcade:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 192px;
  height: 192px;
  border: 16px solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 16px;
  border-radius: 50%;
  transition-duration: 200ms;
}
#greenArcade:active, #greenArcade.is-pushed {
  box-shadow: inset 0 7.5px 0 #0bda23, inset 0 -7.5px 0 #09aa2f, inset 0 0 0 7.5px #09b314, inset 0 0 0 20px #19c20a, inset 0 0 0 24px #056105, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(110, 247, 115, 0.2), inset 0 0 0 43.6363636364px #09b33f, inset 0 96px 32px #089b43, inset 0 0 24px 40px #067921, 0 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #0ab824;
}
#greenArcade:active:after, #greenArcade.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}