.navbar {
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 5px solid #f02cd6;
    background: rgb(0, 0, 0);
}

#dev-nav {
    color: #ffffff;
}

#dev-nav:hover {
    color: #f02cd6;
}

#dev-nav::after {
    content: '';
    display: block;
    border: none;
    width: 0;
    height: 3px;
    margin-top: 5px;
    background: #f02cd6;
    transition: width .3s;
}

#dev-nav:hover::after {
    width: 100%;
    border: none;
    transition: width .3s;
}